<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714024619236-4mcivvat0g2dml2tt816u67ufcvt52ft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714024619236-4mcivvat0g2dml2tt816u67ufcvt52ft</string>
	<key>API_KEY</key>
	<string>AIzaSyDLhfbsGpsVaOf8o2NCAGCgmxuKCzRXBEg</string>
	<key>GCM_SENDER_ID</key>
	<string>714024619236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devynsharpe.googlelogintest</string>
	<key>PROJECT_ID</key>
	<string>incorpo-studio</string>
	<key>STORAGE_BUCKET</key>
	<string>incorpo-studio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714024619236:ios:e8b7d2ee202308c3f270f1</string>
</dict>
</plist>